*{
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body{
	background: #B44848;
}

html{
	font-family: Arial, sans-serif;
	font-size: 200%;
}

.cliquable:hover{
	cursor: pointer;
	color: red;
	opacity: 1;
	position: relative;
	top: -5px;
}

header{
	height: 100px;
	background: #D8D7D7;
	display: flex;
	-webkit-animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide-in-blurred-top 0.6s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	align-items: center;
	justify-items: center;
	opacity: 0.8;
}

.categories{
	position: absolute;
	right: 10px;
}

.logo{
	cursor: default;
	color: black;
	font-family: Brush Script MT, Brush Script Std, cursive;
	margin: 0px 20px;
}

.catheader{
	color: black;
	text-decoration: underline;
	opacity: 0.6;
}

.actif{
	opacity: 1;
}

.bloc1{
	height: 600px;
	margin: auto;
	text-align: center;
}

marquee{
	width: 100%;
}
.bloc1 img{
	border-radius: 100%;
	border: 3px solid black;
	width: 25%;
	padding: auto;
	margin-top: 2%;
	width: 300px;
	height: 300px;
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 1);
}
.pagetitre{
	width: 90%;
	border: 2px solid black;
	border-radius: 30px;
	text-align: center;
	margin: auto;
}
.pagetitre h1{
	color: ;
	position: relative;
	margin: 15px 0px;
	top: 10px;
	text-shadow: 3px 3px 5px grey;
}

.imgtransition{
	border: 5px black solid;
	display: flex;
	margin: auto;
}

.transition{
	display: flex;
	margin: 20px 
	25%;
	text-align: center;
}

.img1{
	position: relative;
	margin: 0px 25px;
}

@media screen and (max-width: 1050px){
	.transition{
		display: flex;
		flex-direction: column;
		margin:  auto;
	}

	.transition img{
		margin-top: 10px;
	}

	.partiecv{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
	top: 50px;
	}
	
}



.legende1{
	width: 100%;
	height: 90%;
	background: black;
	color: white;
	position: absolute;
	top: -0%;
	opacity: 0;
	text-align: center;
	font-size: 25px;
}

.legende p{
	opacity: 50%;
}


.img2{
	position: relative;
	margin: 0px 25px;
}

.legende2{
	width: 100%;
	height: 90%;
	top: -0%;
	background: black;
	color: white;
	position: absolute;
	opacity: 0;
	text-align: center;
	font-size: 25px;
}

.legende .legende1{
	opacity: 50%;
}

.legende1 a{
	text-decoration: underline;
}

.legende2 a{
	text-decoration: underline;
}

hr{
	height: 50px;
	color: white;
	border: none;
	background: darkred;
}

.partiecv{
	width: 100%;
	display: flex;
	flex-direction: row;
	color: white;
	top: 50px;
}

@media screen and (max-width: 1050px){
	.partiecv{
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
	top: 50px;
	}
	.partiecv button{
		margin: 5px 0px;
	}
	
}


.partiecv img{
	height: 450px;
	margin: 30px 10%;
}

.cv:hover{
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;	
}

.partiecv p{
	text-align: center;
}

.partiecv .fleche{
	height: 230px;
}

.partiecv h2{
	position: relative;
	color: white;
	left: 0;
	-webkit-text-stroke: 2px;
	-webkit-text-stroke-color: black;
}

button{
	color: black;
	font-size: 70%;
	border-radius: 10%;
	height: 70px;
	width: 25%;
	cursor: pointer;
}

.V{
	background: none;
	border: 2px red solid;
	color: red;
}

.V a{
	color: black;
	text-decoration: none;
}


.V:hover{
	background: red;
	border: 2px black solid;
	color: black;
	transition-duration: 0.5s;
}

footer{
	width: 100%;
	height: 200px;
	background: #e1b6b6;
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

footer div{
	width: 33%;
	margin: auto;
}

.logo img{
	width: 80%;
	margin: 3%;
}

footer h2{
	text-align: center;
}

footer .contact{
	text-align: center;
}

footer .contact img{
	width: 50px;
	height: 50px;
}

footer .contact img:hover {
	cursor: pointer;
	-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

div.trois{
	text-align: right;
}

div.trois img{
	border: 2px solid black;
	border-radius: 10%;
	width: 100px;
	position: relative;
	top: -10%;
	background: #d1c9e1;
	cursor: pointer;
}

.trois a img:hover{
	transform: scale(1.1);
}


/* ----------------------------------------------
 * Generated by Animista on 2023-2-18 11:50:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
            transform: translateZ(50px);
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.profil{
	background: #e1b6b6;	
	width: 80%;
	border-radius: 30px;
	margin: 15px auto ;
	text-align: center;
}


.profil p{
	color: black;
}

.profil ul{
	text-align: left;
	margin: 0px 10px;
	list-style-type: circle;
	list-style-type: none;
}

.profil ul li{
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: row;
	margin:15px 0px;
}

.profil ul li img{
	margin: 5px 0px;
	height: 100%;
}

.compétences{
	display: flex;
	width: 100%;
	margin: auto;
}

.compétences .note{
	text-align: left;
	overflow: hidden;
}

.compétences .images{
	border-right: 2px dashed   black
}

.projets{
	text-align: center;
	margin: 10px auto;
	width: 85%;
	position: relative;
}

.projets .contenu{
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translateY(-50%);
	margin: auto;
}

.contenu a{
	text-decoration: none;
	color: white;
}

.typeprojet{
	margin: 15px auto;
	height: 100px;
	width: 25%;
	background: dodgerblue;
	border-radius: 10px;
	position:relative;
}

.typeprojet:hover{
	transition-duration: 0.3s;
	background: gold;
}
